body{
    margin: 0 ;
}
*{
    box-sizing: border-box;
}
.header{
    min-height: 800px;
    font-family: 'PT Sans', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.navbar{
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    background: linear-gradient(to right,
    #1a53e7 50%, white 50%);
}
.navbar__container {
    display: flex;
}
.navbar-right {
    display: flex;
    flex: 1;
    background: #fff;
    padding: 8px 20px;
}
.nav-logo {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.logo{
    color: white;
    background-color: #1a53e7;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}
.navbar-nav {
    display: flex;
    flex: 1;
    align-items: center;
}
.category {
    margin-left: auto;
}
.more{
    margin-left: 35px;
    color: #b2b2b2;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 10px;
}
.nav_link{
    text-decoration: none;
    color: #1a54e7;
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: 10px;
}
.nav_link:hover{
    color: #1a54e7;
}
.logo-glass{
    display: flex;
    align-self: center;
    width: 20px;
}
.hero{
   position: relative;
   min-height: 700px;
   background: url(../img/tent.jpg) no-repeat;
   background-size: cover;

}
.bullets{
    margin-left: 8px;
    align-self: center;
}
.title{
    color: white;
    font-size: 48px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
}
.info{
    text-align: center;
    padding-top: 195px;
}
.woman-center{
    width: 141px;
    height: 135px;
}
.text{
    color: #959595;
    font-family: 'PT Sans', sans-serif;
}
.btn{
    color: white;
    background-color: #1a54e7;
    padding: 11px 18px 10px 18px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
}
.contact{
    color: #1a54e7;
}
.footer-right{
    display: flex;
    align-items: center;
    margin-left: 900px;
}
.footer-tent{
    display: flex;
    align-items: center;
    padding-top: 80px;
}
.tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    gap: 40px;
    margin-top: 34px;
    position: relative;
}
.tab-trips{
    background-color: #d90345;
    color: white;
    padding: 10px 18px 10px 18px;
    text-decoration: none;
    position: absolute;
    top: 960px;
    font-weight: 500;
}
.tab-title{
    font-size: 24px;
    color: black;
    font-weight: 400;
}
.tab-text{
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
}
.tab-01{
    width: 578px;
    height: 392px;
    margin-bottom: 47px;

}
.tab-tech{
    background-color: #000000;
    color: white;
    padding: 10px 18px 10px 18px;
    text-decoration: none;
    position: absolute;
    top: 960px;
    font-weight: 500;
}
.tab-text{
    color: #999999;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}
.tab-info{
    display: flex;
    align-items: center;
}
.contact{
    margin-left: 8px;
}
.center-box-info{
    position: absolute;
    top: 1300px;
    color: rgb(255, 255, 255);
    left: 600px;
    
}
.center-title{
    font-size: 45px;
    font-weight: 400;
}
.center-text{
    font-size: 20px;
    font-weight: 400;
}
.center-box-link{
    display: flex;
    align-items: center;
}

.center-trips{
    background-color: #d90345;
    color: white;
    padding: 10px 18px 10px 18px;
    text-decoration: none;
    position: absolute;
    font-weight: 500;
    top: 1480px;
}
.cards{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
}
.info-avocado{
    display: flex;
    align-items: center;
}
.avocado-title{
    color: black;
    font-weight: 400;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}
.footer-box{
    margin: 0 auto;
    max-width: 1200px;
}
.footer-center{
    background: url(../img/Newsletter.png)no-repeat;
    min-height: 420px;
    position: relative;
    background-size: cover;
}
.footer-info{
    text-align: center;
    padding-top: 90px;
}
.footer-center-title{
    font-size: 48px;
line-height: 60px;
color: #ffffff;
font-weight: 400;
font-family: "PT Serif";
text-align: center;
}
.footer-center-text{
    color: rgba(255, 255, 255, 0.466);
    font-size: 24px;
    font-weight: 400;
}
.footer-end-link{
    color: rgba(77, 77, 77, 0.74);
    text-decoration: none;
}
.footer-end{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 77px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
}
.footer-end-title{
font-size: 18px;
line-height: 36px;
color: #a7acbc;
font-weight: 300;
font-family: 'Lato', sans-serif;
}
.footer-end-text{
font-size: 18px;
color: #a7acbc;
font-weight: 300;
font-family: 'Lato', sans-serif;
}
.footer-btn{
    display: inline-block;
    color: #1a54e7;
font-weight: 700;
font-family: "PT Sans";
background-color: white;
border-radius: 25px;
padding: 16px 47px 15px 47px;
text-decoration: none;
position: relative;
}
.btn-input{
    right: -50px;
    background-color: none;
    padding: 15px 44px 15px 44px;
    height: 50px;
    border-radius: 25px;
    border-color: none;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.418);
    border: 2;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.527);
    top: -2px;
}


@media screen and (max-width: 1140px) {
    .navbar-nav {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.541);
        justify-content: center;
        align-items: center;
        transition: .5s;
        transform: translateX(-100%);
        z-index: 100;
    }
    .navbar-nav.active {
        transform: translateX(0);
    }
    .bullets {
        position: relative;
        z-index: 101;
    }
    .info-company,
    .category {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}
